aiohttp==3.9.5
aiosignal==1.3.1
alabaster==0.7.16
astroid==3.2.2
asyncio==3.4.3
attrs==23.2.0
Babel==2.15.0
black==24.4.2
build==1.2.1
CacheControl==0.14.0
-e git+https://github.com/camedomotic-unofficial/aiocamedomotic.git@4d70e5d83478051e1b417d7173c16a8bc61152ad#egg=came_domotic_unofficial
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
coverage==7.5.3
crashtest==0.4.1
cryptography==42.0.8
dill==0.3.8
distlib==0.3.8
docutils==0.20.1
dulwich==0.21.7
fastjsonschema==2.19.1
filelock==3.14.0
freezegun==1.5.1
frozenlist==1.4.1
hypothesis==6.103.1
idna==3.7
imagesize==1.4.1
iniconfig==2.0.0
installer==0.7.0
isort==5.13.2
jaraco.classes==3.4.0
Jinja2==3.1.4
keyring==24.3.1
MarkupSafe==2.1.5
mccabe==0.7.0
more-itertools==10.2.0
msgpack==1.0.8
multidict==6.0.5
mypy==1.10.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
pexpect==4.9.0
pkginfo==1.11.0
platformdirs==4.2.2
pluggy==1.5.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
ptyprocess==0.7.0
pycparser==2.22
Pygments==2.18.0
pylint==3.2.3
pyproject_hooks==1.1.0
pytest==8.2.2
pytest-asyncio==0.23.7
pytest-cov==5.0.0
pytest-timeout==2.3.1
python-dateutil==2.9.0.post0
rapidfuzz==3.9.3
readthedocs-sphinx-search==0.3.2
requests==2.32.3
requests-toolbelt==1.0.0
shellingham==1.5.4
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==7.3.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
tomlkit==0.12.5
trove-classifiers==2024.5.22
types-requests==2.32.0.20240602
typing_extensions==4.12.1
urllib3==2.2.1
virtualenv==20.26.2
xattr==1.1.0
yarl==1.9.4
